.snippet_preview
{
    margin-bottom: 40px;
}

.controls
{
    display: flex;
    justify-content: space-between;
}

.controls__size
{
    color: gray;
}

.controls__creationDate
{
    color: gray;
}
